$input-prefix: #{$prefix}input;
.#{$input-prefix}-wrapper {
    display: inline-block;
    width: 100%;
    position: relative;
    vertical-align: middle;
    border-radius: $input-border-radius;
    background-color: $background;
}

.#{$input-prefix} {
    display: inline-block;
    width: 100%;
    height: $input-height;
    line-height: $line-height;
    border-radius: $input-border-radius;
    padding: $input-padding;
    border: 1px solid $input-border-color;
    font-size: $font-size;
    color: $input-default-color;
    background: none;
    position: relative;
    cursor: text;
    @include border-box();
    @include placeholder();
    transition: border $transition-time ease-in-out, background $transition-time ease-in-out, box-shadow $transition-time ease-in-out;
    &:hover {
        border-color: $input-primary-color-light;
    }
    &:focus {
        border-color: $input-primary-color;
        outline: 0;
        box-shadow: 0 0 5px 1px $input-primary-color-light;
    }
    &[disabled],
    fieldset[disabled] & {
        background-color: $input-disabled-bg;
        opacity: 1;
        cursor: not-allowed;
        color: #ccc;
        &:hover {
            border-color: $grey-color;
        }
    }
    &-center {
        text-align: center;
    }
}

.#{$input-prefix}-neko {
    margin-top: 20px;
    &::before,
    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        top: -20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 30px 15px;
        border-color: transparent transparent $grey-color transparent;
        transition: border $transition-time ease-in-out, filter $transition-time ease-in-out, box-shadow $transition-time ease-in-out;
        z-index: -1;
    }
    &::before {
        left: 10%;
    }
    &::after {
        right: 10%;
    }
    &-focus {
        &::before {
            animation: neko-left 10s linear infinite;
            border-color: transparent transparent $input-primary-color transparent;
            filter: drop-shadow(0 0 3px $input-primary-color-light)
        }
        &::after {
            animation: neko-right 10s linear infinite;
            border-color: transparent transparent $input-primary-color transparent;
            filter: drop-shadow(0 0 3px $input-primary-color-light)
        }
    }
    @keyframes neko-left {
        0% {
            transform: rotateZ(0);
        }
        3% {
            transform: rotateZ(-15deg);
        }
        6% {
            transform: rotateZ(0);
        }
        20% {
            transform: rotateZ(0);
        }
        23% {
            transform: rotateZ(-15deg);
        }
        24% {
            transform: rotateZ(0);
        }
        27% {
            transform: rotateZ(-15deg);
        }
        30% {
            transform: rotateZ(0);
        }
        40% {
            transform: rotateZ(0);
        }
        43% {
            transform: rotateZ(-15deg);
        }
        46% {
            transform: rotateZ(0);
        }
        60% {
            transform: rotateZ(0);
        }
        63% {
            transform: rotateZ(-15deg);
        }
        64% {
            transform: rotateZ(0);
        }
        67% {
            transform: rotateZ(-15deg);
        }
        70% {
            transform: rotateZ(0);
        }
        80% {
            transform: rotateZ(0);
        }
        83% {
            transform: rotateZ(-15deg);
        }
        86% {
            transform: rotateZ(0);
        }
        90% {
            transform: rotateZ(0);
        }
        93% {
            transform: rotateZ(-15deg);
        }
        96% {
            transform: rotateZ(0);
        }
    }
    @keyframes neko-right {
        0% {
            transform: rotateZ(0);
        }
        3% {
            transform: rotateZ(15deg);
        }
        6% {
            transform: rotateZ(0);
        }
        20% {
            transform: rotateZ(0);
        }
        23% {
            transform: rotateZ(15deg);
        }
        24% {
            transform: rotateZ(0);
        }
        27% {
            transform: rotateZ(15deg);
        }
        30% {
            transform: rotateZ(0);
        }
        40% {
            transform: rotateZ(0);
        }
        43% {
            transform: rotateZ(15deg);
        }
        46% {
            transform: rotateZ(0);
        }
        60% {
            transform: rotateZ(0);
        }
        63% {
            transform: rotateZ(15deg);
        }
        64% {
            transform: rotateZ(0);
        }
        67% {
            transform: rotateZ(15deg);
        }
        70% {
            transform: rotateZ(0);
        }
        80% {
            transform: rotateZ(0);
        }
        83% {
            transform: rotateZ(15deg);
        }
        86% {
            transform: rotateZ(0);
        }
        90% {
            transform: rotateZ(0);
        }
        93% {
            transform: rotateZ(15deg);
        }
        96% {
            transform: rotateZ(0);
        }
    }
}

textarea.#{$input-prefix} {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    font-size: $font-size;
}