$radio-prefix: #{$prefix}radio;
$radio-svg-prefix: #{$radio-prefix}-svg;
.#{$radio-prefix}-wrapper{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
.#{$radio-prefix} {
    &:checked+.#{$radio-svg-prefix} {
        fill: $primary-color-light;
        filter: drop-shadow(0 0 1px $input-primary-color-light);
        animation: svg-scale 1s cubic-bezier(.17, .89, .32, 1.49);
        // http://www.w3cplus.com/animation/recreating-the-twitter-heart-animation.html
    }
    &:checked~.#{$radio-svg-prefix}-shadow {
        animation: svg-twinkle .8s linear;
    }
}

.#{$radio-svg-prefix} {
    @include default-svg();
    stroke: $primary-color;
    stroke-width: 2px;
    fill: none;
    transition: fill .4s;
    transition-delay: 1s;
}

.#{$radio-svg-prefix}-shadow {
    @include default-svg();
    transform: scale(0.5);
    stroke: none;
    margin-left: -$btn-svg-width-base - 4px;
    stroke-width: 2px;
    fill: none;
    transition: transform .2s;
}

.#{$radio-prefix}-hide {
    position: absolute;
    left: -100vw;
}

@keyframes svg-scale{
    0%, 17.5% {
        transform: scale(0);
    }
}

@keyframes svg-twinkle {
    0% {
        transform: scale(0.5);
        stroke: none;
        filter: drop-shadow(0 0 3px $input-primary-color);
    }
    1%{
        transform: scale(0.5);
        stroke: $background;
        filter: drop-shadow(0 0 3px $input-primary-color);
    }
    50% {
        transform: scale(1);
        stroke: $primary-color;
        filter: drop-shadow(0 0 3px $input-primary-color);
    }
    99% {
        transform: scale(1.6);        
        stroke: $background;
        filter: drop-shadow(0 0 0 $input-primary-color-light);
    }
    100% {
        transform: scale(1.6);        
        stroke: none;
        filter: drop-shadow(0 0 0 $input-primary-color);
    }
}