$prefix : moe-;

$font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$font-weight: 400;
$font-size: 14px;
$line-height: 1.5;

$background: #fcfcfc;
$default-color: #8f8f8f;
$default-color-dark: #808080;
$white-color: #fffefe;

$primary-color: #c0b0ff;
$primary-color-light: #cabdff;
$violent-color: #ff7a8d;
$violent-color-light: #ff91a2;
$remindful-color: #ffcb78;
$remindful-color-light: #ffd591;
$comfy-color: #b5e378;
$comfy-color-light: #c0e391;

$margin-h: 10px 0;
$margin-p: 5px 0;

$btn-default-bg: #fcfcfc;
$btn-default-border: #c0b0ff;
$btn-disable-color: #e0d9ff;
$btn-disable-bg: #fcfcfc;
$btn-disable-border: #e0d9ff;
$btn-padding-base: 6px 15px;
$btn-border-radius: 4px;
$btn-svg-width-base: 20px;

$transition-time: .3s;
