$prefix : moe-;


$font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$font-weight: 400;
$font-size: 12px;
$line-height: 1.5;

$background: #fcfcfc;
$default-color: #8f8f8f;
$default-color-dark: #808080;
$white-color: #fffefe;

$primary-color: #C0B0FF;
$primary-color-light: #ccbfff;

$margin-h: 10px 0;
$margin-p: 5px 0;

$btn-default-bg: #fcfcfc;
$btn-default-border: #C0B0FF;
$btn-padding-base: 6px 15px;
$btn-border-radius: 4px;
$btn-svg-width-base: 20px;

$transition-time: .3s;
