@mixin input-base(){
    display: inline-block;
    width: 100%;
    height: $input-height;
    line-height: $line-height;
    padding: $input-padding;
    font-size: $font-size;
    border: 1px solid $grey-color;
    border-radius: $btn-border-radius;
    color: $default-color;
    background-color: $background;
    background-image: none;
    position: relative;
    cursor: text;
    @include border-box();
    @include placeholder();
    transition: border $transition-time ease-in-out, background $transition-time ease-in-out, box-shadow $transition-time ease-in-out;
    &:hover {
        border-color: $primary-color-light;
    }

    &:focus {
        border-color: $primary-color;
        outline: 0;
        box-shadow: 0 0 5px 1px $primary-color-light;
    }

    &[disabled],
    fieldset[disabled] & {
        background-color: $input-disabled-bg;
        opacity: 1;
        cursor: not-allowed;
        color: #ccc;
        &:hover {
            border-color: $grey-color;
        }
    }

}